*{
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #f0f0f0;
    /*margin: 0;*/
    /*padding: 0;*/
    height: 100%;
    width: 100%;
}
.image-nav {
    width: 100%;
}
.navbar-brand > img {
    display: flex;
    justify-content: center;
}

.top{
    height: 60px;
    background-color: #f0f0f0;
}
.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.d-flex {
    display: flex;
    justify-content: flex-end;
}

.project {
    background-color: #f0f0f0;
}
.nav-bar-links {
    display: flex;
    float: right;

}
.logo {
    position: absolute;
    z-index: 1000;
    justify-content: space-between;
}

li {
    display: inline;
}


.selectWork {
    display: flex;
    justify-content: center;
}
.selected {
    font-family: 'Abel', sans-serif;
    font-size: 32px;
}
.mainTitle > p {
    display: flex;
    flex-grow: 1;
    font-size: 43px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 10px;
    justify-content: center;
}

.subTitle {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.red {
    background-color: #e6563b;
}

.yellow {
    background-color: #EB9D3A;
}

.green {
    background-color: #7cb06c ;
}

.blue {
    background-color: #00aba9
}


.circleRow > .col-6, .col-sm-3 {
    line-height: 150px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50% ;
    font-family: 'Anton', sans-serif;
    border: white solid 10px;
    color: white;
    font-size: xx-large;
}

.circleRow {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.main-nav-bar > a {
    display: flex;
    flex-grow: 1;
    color: black;
}

h1, h3 {
    font-family: 'Anton', sans-serif;
}

a, p {
    font-family: 'Abel', sans-serif;
}

.fp {
    display: flex;
    justify-content: space-between;
}

.menu:nth-child(1) {
    background-color: #e6563b;
}

.menu:nth-child(2) {
    background-color: #EB9D3A;
}

.menu:nth-child(3) {
    background-color: #7cb06c;
}

 .menu:nth-child(4) {
    background-color: #00aba9;
}

.menu {
    text-align: center;
    vertical-align: middle;
    border-radius: 50% ;
    font-family: 'Anton', sans-serif;
    font-size: small;
    width: 18px;
    height: 18px;
}



.phone {
    display: inline-block;
}

.secondary {
    font-family: 'Anton', sans-serif;
    display: flex;
}


/* Medium Screen Size */
@media only screen and (min-width: 768px) {
    .circleRow > .col-6, .col-sm-3 {
        line-height: 200px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50% ;
        font-family: 'Anton', sans-serif;
        border: white solid 10px;
        color: white;
        font-size: xx-large;
    }

    .circleRow {
        display: flex;
        justify-content: space-around;
        margin: 5px;
    }

    p, h3 {
        display: flex;
        justify-content: center;
    }
    .project1 {
        display: flex;
        align-content: space-between;
    }

}


@media only screen and (min-width: 1024px) {
    .circleRow > .col-6, .col-sm-3 {
        line-height: 250px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50% ;
        font-family: 'Anton', sans-serif;
        border: white solid 10px;
        color: white;
        font-size: xx-large;
    }


}